body {
  margin: 0;
}

.btn1 {
  border: none;
  width: 70px;
  height: 32px;
  border-radius: 6px;
  background-color: salmon;
  color: #fff;
  cursor: pointer;
}

.btn1:hover {
  color: salmon;
  background-color: white;
  border: 1px solid salmon;
}

.btn {
  border: none;
  width: 120px;
  height: 32px;
  border-radius: 6px;
  background-color: salmon;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  color: salmon;
  background-color: white;
  border: 1px solid salmon;
}

.topBar {
  border: 1px solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: orangered;
  margin-bottom: 20px;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
